#play-game-page{
    background:#0cd1e8;
    .main-card{
        --background:#0cd1e8;
    }
    .img-trash{
        display: inline-block;
        width: 25%;
        margin: 2%;
        max-height: 30%;
        transition: background 1s linear;
    }
    .img-trash.red{
        background: rgb(255,0,0);
        background: radial-gradient(circle, rgba(255,0,0,0.6) 0%, rgba(244,244,244,0) 100%);
      }
    .img-trash.green{
        background:green;
        background: radial-gradient(circle, rgba(0,255,0,0.6) 0%, rgba(244,244,244,0) 100%);
    }
    .container{
        text-align: center;
        position: absolute;
        top:20%;
    }
    .trash{
        position: absolute;
        width: 20vw;
        height: 20vw;
        bottom: 20%;
        left: 40%;
        z-index: 9999;
        transition: background 2s linear;
    }
}